/*
 *= require_tree .
 *= require_self
*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  --bg: #21252B;
  --second-bg: #282C34;
  --third-bg: #323842;
  --text: #F6F7F9;
  --link: #61AFEF;
  --second-text: #ABB2BF;
}

body {
  height: calc(100dvh);
  max-height: calc(100dvh);
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  background-color: var(--bg);
  color: var(--text);
}

.container {
  max-width: 720px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0.8rem 0;
}

input {
  border: 1px solid var(--border);
  padding: 0.5rem;
}

.grow-wrap {
  border: 1px solid var(--border);
  background-color: var(--second-bg);
}

.cm-editor {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  resize: none;
  background-color: var(--second-bg);
}

.cm-editor .cm-content {
  font-family: 'Inconsolata', monospace;
  padding: 0.8rem 0;
}

.cm-editor .cm-line {
  padding: 0 0.8rem;
}

.small {
  font-size: 0.65rem;
  color: var(--second-text);
}

.form-tools {
  display: flex;
  margin: 0.8rem 0 0;
  gap: 0.8rem;
}

.form-tools > div {
  flex: 1;
}

.form-tools input {
  width: 100%;
  background-color: var(--second-bg);
  color: var(--text)
}

.form-tools input[type=submit] {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
}

.form .grow-wrap {
  flex: 1;
}
