/*
 *= require_tree .
 *= require_self
*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  --bg: #21252B;
  --second-bg: #282C34;
  --third-bg: #323842;
  --text: #F6F7F9;
  --link: #61AFEF;
  --link-internal: #E06C75;
  --second-text: #ABB2BF;
  --error: #E5C07B;
}

body {
  height: calc(100dvh);
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: var(--link-internal);
}

.container {
  max-width: 720px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0.8rem;
  display: flex;
  gap: 0.8rem;
}

.grow-wrap {
  border: 1px solid var(--border);
  background-color: var(--second-bg);
  flex: 1;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex: 1;
}

.wrap .box {
  flex: 1;
  background-color: var(--second-bg);
}

.wrap textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  padding: 0.8rem;
  color: var(--text);
  resize: none;
  background-color: var(--second-bg);
  font-family: 'Inconsolata', monospace;
}

.small {
  font-size: 0.7rem;
  color: var(--second-text);
}

.error {
  color: var(--bg);
  background-color: var(--error);
  padding: 0.8rem;
  font-size: 0.8rem;
}

.info {
  color: var(--bg);
  background-color: var(--link);
  padding: 0.8rem;
  font-size: 0.8rem;
}

.data {
  color: var(--second-text);
  background-color: var(--second-bg);
  padding: 0.8rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}
