.converters {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex: 1;
}

.converters .box {
  flex: 1;
  background-color: var(--second-bg);
}

.converters textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  padding: 0.8rem;
  color: var(--text);
  resize: none;
  background-color: var(--second-bg);
  font-family: 'Inconsolata', monospace;
}
