.converters {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex: 1;
}

.converters .box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.converters .box label {
  display: block;
  background-color: var(--third-bg);
  padding: 0.3rem;
}

.converters textarea {
  flex: 1;
  resize: none;
  border: none;
  padding: 0.8rem;
  color: var(--text);
  resize: none;
  background-color: var(--second-bg);
  font-family: 'Inconsolata', monospace;
}
